<h2> My favorites</h2>

{% if favorites is not empty %}
    {{ include('_favoritesList.html.twig') }}

    {{ render(controller('App\\Controller\\MailerController')) }}
{% else %}
    <p>You don't have any favorites ! <br>
        You should consider adding some !</p>
{% endif %}
