<h2> My favorites</h2>

{% if favorites is not empty %}
    {% for favorite in favorites %}

    {% endfor %}
{% else %}
    <p>You don't have any favorites ! <br>
        You should consider adding some !</p>
{% endif %}
