{% extends 'base.html.twig' %}

{% block content %}

    <h3>Quote :</h3>
    <div>
        <p>{{ data.value }}</p>
    </div>

    {{ render(controller('App\\Controller\\Chuck\\PostFavoritesController', {'favoriteData': {'quote': data.value, 'link': data.url}}))}}

{% endblock %}

